GesDoc/WebGDoc/Service References/PlanGestionServRef/ServicePlanGestion1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:30001/ServicePlanGestion.svc?xsd=xsd2" namespace="http://www.yourcompany.com/types/" />
  <xs:element name="SetObetivoEstrategico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.yourcompany.com/types/" minOccurs="0" name="RqtListaPlanGestion" nillable="true" type="q1:PlanGestionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetObetivoEstrategicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://www.yourcompany.com/types/" minOccurs="0" name="SetObetivoEstrategicoResult" nillable="true" type="q2:PlanGestionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObetivoEstrategico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://www.yourcompany.com/types/" minOccurs="0" name="RqtListaPlanGestion" nillable="true" type="q3:PlanGestionRequest" />
        <xs:element minOccurs="0" name="_Items" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObetivoEstrategicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://www.yourcompany.com/types/" minOccurs="0" name="GetObetivoEstrategicoResult" nillable="true" type="q4:PlanGestionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetObetivoOperativo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://www.yourcompany.com/types/" minOccurs="0" name="RqtListaPlanGestion" nillable="true" type="q5:PlanGestionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetObetivoOperativoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://www.yourcompany.com/types/" minOccurs="0" name="SetObetivoOperativoResult" nillable="true" type="q6:PlanGestionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObetivoOperativo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://www.yourcompany.com/types/" minOccurs="0" name="RqtListaPlanGestion" nillable="true" type="q7:PlanGestionRequest" />
        <xs:element minOccurs="0" name="_Items" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObetivoOperativoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://www.yourcompany.com/types/" minOccurs="0" name="GetObetivoOperativoResult" nillable="true" type="q8:PlanGestionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://www.yourcompany.com/types/" minOccurs="0" name="RqtListaPlanGestion" nillable="true" type="q9:PlanGestionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://www.yourcompany.com/types/" minOccurs="0" name="SetProyectoResult" nillable="true" type="q10:PlanGestionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://www.yourcompany.com/types/" minOccurs="0" name="RqtListaPlanGestion" nillable="true" type="q11:PlanGestionRequest" />
        <xs:element minOccurs="0" name="_Items" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://www.yourcompany.com/types/" minOccurs="0" name="GetProyectoResult" nillable="true" type="q12:PlanGestionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetActividad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://www.yourcompany.com/types/" minOccurs="0" name="RqtListaPlanGestion" nillable="true" type="q13:PlanGestionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetActividadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://www.yourcompany.com/types/" minOccurs="0" name="SetActividadResult" nillable="true" type="q14:PlanGestionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActividad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://www.yourcompany.com/types/" minOccurs="0" name="RqtListaPlanGestion" nillable="true" type="q15:PlanGestionRequest" />
        <xs:element minOccurs="0" name="_Items" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActividadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://www.yourcompany.com/types/" minOccurs="0" name="GetActividadResult" nillable="true" type="q16:PlanGestionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetComentarioAvance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://www.yourcompany.com/types/" minOccurs="0" name="RqtListaPlanGestion" nillable="true" type="q17:PlanGestionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetComentarioAvanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://www.yourcompany.com/types/" minOccurs="0" name="SetComentarioAvanceResult" nillable="true" type="q18:PlanGestionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComentarioAvance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://www.yourcompany.com/types/" minOccurs="0" name="RqtListaPlanGestion" nillable="true" type="q19:PlanGestionRequest" />
        <xs:element minOccurs="0" name="_Items" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComentarioAvanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://www.yourcompany.com/types/" minOccurs="0" name="GetComentarioAvanceResult" nillable="true" type="q20:PlanGestionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInforme">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://www.yourcompany.com/types/" minOccurs="0" name="RqtListaPlanGestion" nillable="true" type="q21:PlanGestionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInformeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://www.yourcompany.com/types/" minOccurs="0" name="GetInformeResult" nillable="true" type="q22:PlanGestionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>