GesDoc/WebGDoc/Service References/BusquedaServRef/ServiceBusqueda5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.yourcompany.com/types/" elementFormDefault="qualified" targetNamespace="http://www.yourcompany.com/types/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:30001/ServiceBusqueda.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="BuscarDocumentoRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CtrDocDigTD" nillable="true" type="tns:eBuscarDocumentos" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BuscarDocumentoRequest" nillable="true" type="tns:BuscarDocumentoRequest" />
  <xs:complexType name="RequestBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientTag" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LoadOptions" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestBase" nillable="true" type="tns:RequestBase" />
  <xs:complexType name="eBuscarDocumentos">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodiUsuDes" type="xs:long" />
      <xs:element minOccurs="0" name="CodiUsuRem" type="xs:long" />
      <xs:element minOccurs="0" name="FecReg2" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="TipoBusq" type="xs:int" />
      <xs:element minOccurs="0" name="sDocDig" nillable="true" type="tns:eDocDig" />
      <xs:element minOccurs="0" name="sDocElect" nillable="true" type="tns:eDocumentoElectronico" />
      <xs:element minOccurs="0" name="sMesaVirtual" nillable="true" type="tns:eMesaVirtual" />
      <xs:element minOccurs="0" name="sTipoDocumento" nillable="true" type="tns:eDocDigListTD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eBuscarDocumentos" nillable="true" type="tns:eBuscarDocumentos" />
  <xs:complexType name="eDocDig">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcceDocuDigi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AsunDocuDigi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClasDocu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodUsu" type="xs:long" />
      <xs:element minOccurs="0" name="CodiDocuDigi" type="xs:long" />
      <xs:element minOccurs="0" name="CodiTipoDocu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comentario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstDocuDigi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExteDocu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechActu" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechEmiDocu" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechRece" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechRegi" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NomTipoDocu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombFisi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombOrig" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumDocuDigi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="RutaFisi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TamaDocu" type="xs:long" />
      <xs:element minOccurs="0" name="TituDocuDigi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:eUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eDocDig" nillable="true" type="tns:eDocDig" />
  <xs:complexType name="eUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApePers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClasUsu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodiCnx" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodiRol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodiTipUsu" type="xs:long" />
      <xs:element minOccurs="0" name="Codigo" type="xs:long" />
      <xs:element minOccurs="0" name="CodigoPersona" type="xs:long" />
      <xs:element minOccurs="0" name="DescArea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescCarg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiClav" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiFirm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechExpiClav" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechExpiFirm" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaUltimoAcceso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirmaElectronica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdeUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IntentoErradoFirma" type="xs:short" />
      <xs:element minOccurs="0" name="IntentoErradoPasword" type="xs:short" />
      <xs:element minOccurs="0" name="IntentoErradosPasword" type="xs:short" />
      <xs:element minOccurs="0" name="NombPers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Participante" nillable="true" type="tns:eParticipante" />
      <xs:element minOccurs="0" name="Pasword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pers" nillable="true" type="tns:ePersonal" />
      <xs:element minOccurs="0" name="TermUsu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuCrea" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eUsuario" nillable="true" type="tns:eUsuario" />
  <xs:complexType name="eParticipante">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApruOper" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodiOper" type="xs:long" />
      <xs:element minOccurs="0" name="CodiUsu" type="xs:long" />
      <xs:element minOccurs="0" name="CodiUsuPart" type="xs:long" />
      <xs:element minOccurs="0" name="ConfLect" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnviNoti" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Envio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstaUsuaPart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechNoti" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Reenvio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoOper" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoPart" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eParticipante" nillable="true" type="tns:eParticipante" />
  <xs:complexType name="ePersonal">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnexPers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApePers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CeluPers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClasPers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodiArea" type="xs:long" />
      <xs:element minOccurs="0" name="CodiCarg" type="xs:long" />
      <xs:element minOccurs="0" name="CodiTipUsu" type="xs:long" />
      <xs:element minOccurs="0" name="CodigoPersona" type="xs:long" />
      <xs:element minOccurs="0" name="DNI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DirePers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmaiPers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmaiTrab" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstaPers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechNac" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NombPers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RucEmpr" type="xs:long" />
      <xs:element minOccurs="0" name="SexoPers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelePers" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ePersonal" nillable="true" type="tns:ePersonal" />
  <xs:complexType name="eDocumentoElectronico">
    <xs:sequence>
      <xs:element minOccurs="0" name="AsunDocuElec" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CateDocuElec" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodUsu" type="xs:long" />
      <xs:element minOccurs="0" name="CodiDocuElec" type="xs:long" />
      <xs:element minOccurs="0" name="CodiOper" type="xs:long" />
      <xs:element minOccurs="0" name="CodiTipoDocu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstDocuElec" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechCie" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechEmi" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechEnvi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechVige" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Memo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensDocuElec" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumDocuElec" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Participante" nillable="true" type="tns:eParticipante" />
      <xs:element minOccurs="0" name="PrioDocuElec" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reenvio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoAcc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoComu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:eUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eDocumentoElectronico" nillable="true" type="tns:eDocumentoElectronico" />
  <xs:complexType name="eMesaVirtual">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acceso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Asunto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaseMV" type="xs:int" />
      <xs:element minOccurs="0" name="CodiMesaComent" type="xs:long" />
      <xs:element minOccurs="0" name="CodiOper" type="xs:long" />
      <xs:element minOccurs="0" name="CodiUsu" type="xs:long" />
      <xs:element minOccurs="0" name="ConfLect" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DesMesaVir" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Notifica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumOper" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Periodo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prioridad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoPart" type="xs:int" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eMesaVirtual" nillable="true" type="tns:eMesaVirtual" />
  <xs:complexType name="eDocDigListTD">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodiTipoDocu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstTipoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombTipoDocu" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eDocDigListTD" nillable="true" type="tns:eDocDigListTD" />
  <xs:complexType name="ResponseBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acknowledge" type="tns:AcknowledgeType" />
      <xs:element minOccurs="0" name="Build" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorrelationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReservationExpires" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReservationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowsAffected" type="xs:int" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseBase" nillable="true" type="tns:ResponseBase" />
  <xs:simpleType name="AcknowledgeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Failure" />
      <xs:enumeration value="Success" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AcknowledgeType" nillable="true" type="tns:AcknowledgeType" />
  <xs:complexType name="ArrayOfeBuscarDocumentos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="eBuscarDocumentos" nillable="true" type="tns:eBuscarDocumentos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfeBuscarDocumentos" nillable="true" type="tns:ArrayOfeBuscarDocumentos" />
  <xs:complexType name="MesaVirtualRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CtrMesaVir" nillable="true" type="tns:eMesaVirtual" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MesaVirtualRequest" nillable="true" type="tns:MesaVirtualRequest" />
  <xs:complexType name="MesaVirtualResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ListaMesaVirtual" nillable="true" type="tns:ArrayOfeMesaVirtual" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MesaVirtualResponse" nillable="true" type="tns:MesaVirtualResponse" />
  <xs:complexType name="ArrayOfeMesaVirtual">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="eMesaVirtual" nillable="true" type="tns:eMesaVirtual" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfeMesaVirtual" nillable="true" type="tns:ArrayOfeMesaVirtual" />
  <xs:complexType name="OperacionRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CtrOper" nillable="true" type="tns:eOperaciones" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperacionRequest" nillable="true" type="tns:OperacionRequest" />
  <xs:complexType name="eOperaciones">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcceOper" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AsunOper" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Asunto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodUsu" type="xs:long" />
      <xs:element minOccurs="0" name="CodiOper" type="xs:long" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdeUsu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumOper" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Periodo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrioDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoComu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoOper" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoPart" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eOperaciones" nillable="true" type="tns:eOperaciones" />
  <xs:complexType name="OperacionResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="OperacionLista" nillable="true" type="tns:ArrayOfeOperaciones" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperacionResponse" nillable="true" type="tns:OperacionResponse" />
  <xs:complexType name="ArrayOfeOperaciones">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="eOperaciones" nillable="true" type="tns:eOperaciones" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfeOperaciones" nillable="true" type="tns:ArrayOfeOperaciones" />
  <xs:complexType name="BuscarLogOperRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CtrBLogOper" nillable="true" type="tns:eBuscarLogOperacion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BuscarLogOperRequest" nillable="true" type="tns:BuscarLogOperRequest" />
  <xs:complexType name="eBuscarLogOperacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="AbreEven" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodiDocAdju" type="xs:long" />
      <xs:element minOccurs="0" name="CodiDocu" type="xs:long" />
      <xs:element minOccurs="0" name="CodiEven" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodiUsu" type="xs:long" />
      <xs:element minOccurs="0" name="DescEven" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstEven" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechEven" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdeUsu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumDocu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoBusq" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eBuscarLogOperacion" nillable="true" type="tns:eBuscarLogOperacion" />
  <xs:complexType name="BuscarLogOperResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="BListaLogOper" nillable="true" type="tns:ArrayOfeBuscarLogOperacion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BuscarLogOperResponse" nillable="true" type="tns:BuscarLogOperResponse" />
  <xs:complexType name="ArrayOfeBuscarLogOperacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="eBuscarLogOperacion" nillable="true" type="tns:eBuscarLogOperacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfeBuscarLogOperacion" nillable="true" type="tns:ArrayOfeBuscarLogOperacion" />
  <xs:complexType name="UbigeoRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CtrUbigeo" nillable="true" type="tns:eUbigeo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UbigeoRequest" nillable="true" type="tns:UbigeoRequest" />
  <xs:complexType name="eUbigeo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodUbi" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Cod_Dpto" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Cod_Prov" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoCod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eUbigeo" nillable="true" type="tns:eUbigeo" />
  <xs:complexType name="UbigeoResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ListaUbigeo" nillable="true" type="tns:ArrayOfeUbigeo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UbigeoResponse" nillable="true" type="tns:UbigeoResponse" />
  <xs:complexType name="ArrayOfeUbigeo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="eUbigeo" nillable="true" type="tns:eUbigeo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfeUbigeo" nillable="true" type="tns:ArrayOfeUbigeo" />
</xs:schema>