GesDoc/WebGDoc/Service References/BusquedaServRef/ServiceBusqueda51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.Message.Resquest_Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.Message.Resquest_Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:30001/ServiceBusqueda.svc?xsd=xsd2" namespace="http://www.yourcompany.com/types/" />
  <xs:complexType name="BuscarDocumentoResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://www.yourcompany.com/types/" base="q1:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="BListaDocDig" nillable="true" type="q1:ArrayOfeBuscarDocumentos" />
          <xs:element minOccurs="0" name="BListaDocElect" nillable="true" type="q1:ArrayOfeBuscarDocumentos" />
          <xs:element minOccurs="0" name="BListaDocumentoAdjunto" nillable="true" type="q1:ArrayOfeBuscarDocumentos" />
          <xs:element minOccurs="0" name="BListaMesaVirtual" nillable="true" type="q1:ArrayOfeBuscarDocumentos" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BuscarDocumentoResponse" nillable="true" type="tns:BuscarDocumentoResponse" />
</xs:schema>