GesDoc/Backup/WebGDoc/Service References/BusquedaServRef/ServiceBusqueda52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:30001/ServiceBusqueda.svc?xsd=xsd2" namespace="http://www.yourcompany.com/types/" />
  <xs:import schemaLocation="http://localhost:30001/ServiceBusqueda.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Service.Message.Resquest_Response" />
  <xs:element name="GetDocumentoDigital">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.yourcompany.com/types/" minOccurs="0" name="RqtDocDig" nillable="true" type="q1:BuscarDocumentoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentoDigitalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service.Message.Resquest_Response" minOccurs="0" name="GetDocumentoDigitalResult" nillable="true" type="q2:BuscarDocumentoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentoElectronico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://www.yourcompany.com/types/" minOccurs="0" name="RqtDocElect" nillable="true" type="q3:BuscarDocumentoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentoElectronicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Service.Message.Resquest_Response" minOccurs="0" name="GetDocumentoElectronicoResult" nillable="true" type="q4:BuscarDocumentoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMesaVirtual">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://www.yourcompany.com/types/" minOccurs="0" name="RqtMesaVirtual" nillable="true" type="q5:BuscarDocumentoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMesaVirtualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Service.Message.Resquest_Response" minOccurs="0" name="GetMesaVirtualResult" nillable="true" type="q6:BuscarDocumentoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBandejaMV">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://www.yourcompany.com/types/" minOccurs="0" name="RqtListMesVir" nillable="true" type="q7:MesaVirtualRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBandejaMVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://www.yourcompany.com/types/" minOccurs="0" name="GetBandejaMVResult" nillable="true" type="q8:MesaVirtualResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBandejaDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://www.yourcompany.com/types/" minOccurs="0" name="RqtListOper" nillable="true" type="q9:OperacionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBandejaDocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://www.yourcompany.com/types/" minOccurs="0" name="GetBandejaDocResult" nillable="true" type="q10:OperacionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoMesaVirtual">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://www.yourcompany.com/types/" minOccurs="0" name="RqtMesaVirtual" nillable="true" type="q11:MesaVirtualRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoMesaVirtualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://www.yourcompany.com/types/" minOccurs="0" name="GetTipoMesaVirtualResult" nillable="true" type="q12:MesaVirtualResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuscarLogOper">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://www.yourcompany.com/types/" minOccurs="0" name="RqtLogOper" nillable="true" type="q13:BuscarLogOperRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuscarLogOperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://www.yourcompany.com/types/" minOccurs="0" name="GetBuscarLogOperResult" nillable="true" type="q14:BuscarLogOperResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentoAdjunto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://www.yourcompany.com/types/" minOccurs="0" name="RqtDocAdj" nillable="true" type="q15:BuscarDocumentoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentoAdjuntoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Service.Message.Resquest_Response" minOccurs="0" name="GetDocumentoAdjuntoResult" nillable="true" type="q16:BuscarDocumentoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUbigeo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://www.yourcompany.com/types/" minOccurs="0" name="RqtUbigeo" nillable="true" type="q17:UbigeoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUbigeoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://www.yourcompany.com/types/" minOccurs="0" name="GetUbigeoResult" nillable="true" type="q18:UbigeoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>